@import './base.css';

.header{
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 20px 0;
}
.header .logo{
  display: flex;
  align-items:center;
  gap :10px;
  flex-wrap: wrap;
}
.header .logo img{
  width :35px;
}
.header .logo a{
  color: var(--maincolor);
}
.header .nav a{
  color: #101928;
}
.nav ul{
  display: flex;
  gap:16px;
  flex-wrap: wrap;
}
.header .auth a{
  font-family: var(--subFont);
  padding:10px 30px;
  border-radius: 5px;
}
.header .auth a:first-of-type{
  border: 1px solid var(--maincolor);
  color: var(--maincolor);
}
.header .auth a:last-of-type{
  background-color: var(--maincolor);
  color:#fff;
}

@media (max-width:992px){

  .nav{
    display: none;
  }
}
.footer{
  background-color: #393E46;
  color:#fff;
  padding:50px 0;
}
.footer a{
  color:#fff;
}
.footer .row{
gap:40px;
}

.footer .footer-start,
.footer .footer-end{
  width:calc((100% - 40px)/2);
}
.footer .footer-start .logo{
align-items: center;
}
.footer .footer-start {
  display: flex;
  flex-direction: column;
  gap:30px;
  flex-wrap:wrap;
}
.footer .footer-start .logo{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  align-items: center;
}
.footer .footer-start .logo img{
  width:35px;
}
.footer .footer-start .logo a{
 font-size: 14px;
}
.footer .footer-start p{
  color: #f4f4f4;
  font-size: 14px;
  font-weight: 200;
}
.footer .footer-start .icons img{
  border: 1px solid #fff;
  padding :10px;
  width: 15px;
  height: 15px;
  box-sizing: content-box;
}
.footer-end .row{
  justify-content: space-evenly;
  align-items: flex-start;
}
.footer-end .footer-item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
.footer-end .footer-item ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:10px;
}