@import './base.css';
/*start header*/
.header{
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 20px 0;
  background-color: #ffffff;
}
.header{
  z-index: 99;
  background-color:#fff;
}
.header .logo{
  display: flex;
  align-items:center;
  gap :10px;
  flex-wrap: wrap;
}
.header .logo img{
  width :35px;
}
.header .logo a{
  color: var(--maincolor);
}
.header .nav a{
  color: #101928;
}
.nav ul{
  display: flex;
  gap:16px;
  flex-wrap: wrap;
}
.header .auth a{
  font-family: var(--subFont);
  padding:10px 30px;
  border-radius: 5px;
}
.header .auth a:first-of-type{
  border: 1px solid var(--maincolor);
  color: var(--maincolor);
}
.header .auth a:last-of-type{
  background-color: var(--maincolor);
  color:#fff;
}

@media (max-width:992px){

  .nav{
    display: none;
  }
}
/*end header*/
/* start testimonials*/
.testimonials{
  text-align: center;
  padding: 40px 0;

}
.testimonials .row{
  gap: 40px;
}
.testimonials h2{
  margin-bottom: 20px;
}
.testimonial{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap:20px;
  width: calc(( 100% - 40px ) / 2);
  align-items: flex-start;
  box-shadow: 0px 6.34px 6.34px 0px #0000001A;
  padding: 20px;
  position: relative;
}
.testimonial:after{
  content: ' ';
  border-top: 40px solid #a3a3a3 ;
  border-left: 40px solid transparent;
  border-bottom: 40px solid transparent;
  position: absolute;
  top:0;
  right:0;
}
.testimonial .user-info img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.testimonial .user-info{
  display: flex;
  gap:15px;
  flex-wrap: wrap;
  align-items: center;
}
.testimonial .user-info .user-data{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:10px;
  align-items: flex-start;

}
.testimonial .user-info .user-data span{
  font-size:12px;
  color: #969696;
}
.testimonial .rating{
  display: flex;
  flex-wrap: wrap;
 gap:7;
}
.testimonial q{
  color: #646464;
  font-size: 13px;
}
.testimonial blockquote p{
  display: inline-block;
  padding: 0 10px;
}
/*end of testimonial*/
/*start footer*/
.footer{
  background-color: #393E46;
  color:#fff;
  padding:50px 0;
}
.footer a{
  color:#fff;
}
.footer .row{
gap:40px;
}

.footer .footer-start,
.footer .footer-end{
  width:calc((100% - 40px)/2);
}
.footer .footer-start .logo{
align-items: center;
}
.footer .footer-start {
  display: flex;
  flex-direction: column;
  gap:30px;
  flex-wrap:wrap;
}
.footer .footer-start .logo{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  align-items: center;
}
.footer .footer-start .logo img{
  width:35px;
}
.footer .footer-start .logo a{
 font-size: 14px;
}
.footer .footer-start p{
  color: #f4f4f4;
  font-size: 14px;
  font-weight: 200;
}
.footer .footer-start .icons img{
  border: 1px solid #fff;
  padding :10px;
  width: 15px;
  height: 15px;
  box-sizing: content-box;
}
.footer-end .row{
  justify-content: space-evenly;
  align-items: flex-start;
}
.footer-end .footer-item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
.footer-end .footer-item ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:10px;
}
/*end footer*/